<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>主页</h2>
<div><p>当前用户：{{ request.user.username }} <a href="/logout">登出</a></p>
</div>
<ul>

    <li><a href="/a1">pm2.5的逐年数据折线图</a></li>


<li><a href="/a2">pm2.5的不同季度折线图</a></li>
<li><a href="/a3">各个月份pm2.5变化折线图</a></li>
<li><a href="/a4">不同时段pm2.5变化折线图</a></li>
<li><a href="/a5">pm2.5的不同季度柱状图</a></li>
<li><a href="/a6">pm2.5与风向的柱状图</a></li>
<li><a href="/a7">pm2.5与露点之间的折线图</a></li>
<li><a href="/a8">pm2.5与相对湿度之间的折线图</a></li>
<li><a href="/a9">pm2.5与温度之间的折线图</a></li>
<li><a href="/a10">pm2.5与大气压之间的折线图</a></li>
</ul>

</body>
</html>